In [3]:
import pandas as pd

In [4]:
data=pd.read_csv('C:/Users/Teresia Chege/Documents/university2.csv')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 13 columns):
 #   Column                                                              Non-Null Count  Dtype
---  ------                                                              --------------  -----
 0   Table 15...: Government Funding to Universities, 2019/20 - 2021/22  45 non-null     object
 1   Unnamed: 1                                                          40 non-null     object
 2   Unnamed: 2                                                          39 non-null     object
 3   Unnamed: 3                                                          39 non-null     object
 4   Unnamed: 4                                                          39 non-null     object
 5   Unnamed: 5                                                          40 non-null     object
 6   Unnamed: 6                                                          39 non-null     object
 7   Unnamed: 7                                                          39 non-null     object
 8   Unnamed: 8                                                          39 non-null     object
 9   Unnamed: 9                                                          40 non-null     object
 10  Unnamed: 10                                                         39 non-null     object
 11  Unnamed: 11                                                         39 non-null     object
 12  Unnamed: 12                                                         39 non-null     object
dtypes: object(13)
memory usage: 4.8+ KB

In [6]:
data.columns

Index(['Table 15...: Government Funding to Universities, 2019/20 - 2021/22',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12'],
      dtype='object')

In [7]:
def rename_columns(data, old_names, new_names):
    """
    Renames columns in a DataFrame.
    
    Args:
        data (pd.DataFrame): The DataFrame to rename columns in.
        old_names (list): List of old column names.
        new_names (list): List of new column names.
        
    Returns:
        pd.DataFrame: DataFrame with renamed columns.
    """
    
    if len(old_names) != len(new_names):
        raise ValueError("Number of old names and new names should be the same.")
    
    mapping = {old: new for old, new in zip(old_names, new_names)}
    data.rename(columns=mapping, inplace=True)
    
    return data

In [8]:
old_names = ['Table 15...: Government Funding to Universities, 2019/20 - 2021/22',
        'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12']
new_names = ["Public Universities",
    "2020/21 Male Students","2020/21 Female Students","2020/21 Total Students","2020/21 Amount of Funds Allocated (KSh Million)",
            "2021/22 Male Students","2021/22 Female Students","2021/22 Total Students","2021/22 Amount of Funds Allocated (KSh Million)",
            "2022/23 Male Students","2022/23 Female Students","2022/23 Total Students","2022/23 Amount of Funds Allocated (KSh Million)"]

In [9]:
rename_columns(data, old_names, new_names).head(10)

,Public Universities,2020/21 Male Students,2020/21 Female Students,2020/21 Total Students,2020/21 Amount of Funds Allocated (KSh Million),2021/22 Male Students,2021/22 Female Students,2021/22 Total Students,2021/22 Amount of Funds Allocated (KSh Million),2022/23 Male Students,2022/23 Female Students,2022/23 Total Students,2022/23 Amount of Funds Allocated (KSh Million)
0,Table 15.26: Government Funding to Universitie...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,INSTITUTION,2020/21,NaN,NaN,NaN,2021/22,NaN,NaN,NaN,2022/23*,NaN,NaN,NaN
2,NaN,Male,Female,Total,Amount of Funds Allocated (KSh Million),Male,Female,Total,Amount of Funds Allocated (KSh Million),Male,Female,Total,Amount of Funds Allocated (KSh Million)
3,Public Universities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,University of Nairobi,"11,106","16,076","27,182","5,231.81","19,210","13,221","32,431","5,588.03","10,743","15,873","26,616",5610.97
5,Kenyatta,..,..,"33,341","3,160.14",..,..,"32,162","3,360.80",..,..,"30,303",3374.60
6,Moi,"8,957","9,840","18,797","3,244.03",..,..,"23,809","3,424.22","7,276","9,875","22,704",3438.28
7,Egerton,"6,642","9,572","16,214","2,102.13","10,677","7,373","18,050","2,219.25","7,527","10,396","17,923",2228.36
8,Jomo Kenyatta (JKUAT),"8,334","10,424","18,758","2,835.11","14,070","11,260","25,340","2,996.81","10,714","13,990","24,704",3009.12
9,Maseno,"5,576","7,937","13,513","1,622.93","9,230","6,927","16,157","1,698.16","8,062","10,729","18,791",1750.13

In [10]:
data1=data.tail(-4)

In [11]:
data1.isnull().sum()

Public Universities                                0
2020/21 Male Students                              4
2020/21 Female Students                            4
2020/21 Total Students                             4
2020/21 Amount of Funds Allocated (KSh Million)    4
2021/22 Male Students                              4
2021/22 Female Students                            4
2021/22 Total Students                             4
2021/22 Amount of Funds Allocated (KSh Million)    4
2022/23 Male Students                              4
2022/23 Female Students                            4
2022/23 Total Students                             4
2022/23 Amount of Funds Allocated (KSh Million)    4
dtype: int64

In [12]:
# Assuming your DataFrame is named 'df'
# Group the data by universities and count null values in each column
null_counts = data1.groupby('Public Universities').apply(lambda x: x.isnull().sum())

# Print the null value counts
print(null_counts)

                                                    Public Universities  \
Public Universities
* Provisional                                                         0
.. Data not available                                                 0
1 Includes Alupe, Turkana, Bomet, Koitalel Arap...                    0
Chuka                                                                 0
Co-operative                                                          0
Dedan Kimathi                                                         0
Egerton                                                               0
Embu                                                                  0
GRAND TOTAL                                                           0
Garissa                                                               0
Jaramogi Oginga Odinga                                                0
Jomo Kenyatta (JKUAT)                                                 0
Kabianga                                                              0
Kaimosi Friends University?.......                                    0
Karatina                                                              0
Kenyatta                                                              0
Kibabii                                                               0
Kirinyaga                                                             0
Kisii                                                                 0
Laikipia                                                              0
Machakos                                                              0
Masai Mara                                                            0
Maseno                                                                0
Masinde Muliro                                                        0
Meru                                                                  0
Moi                                                                   0
Multimedia                                                            0
Murang?a                                                              0
Private Universities                                                  0
Pwani                                                                 0
Rongo                                                                 0
SUB-TOTAL                                                             0
Source: Universities Fund                                             0
South Eastern                                                         0
Taita Taveta                                                          0
Technical University of Kenya                                         0
Technical University of Mombasa                                       0
Tharaka University?...........                                        0
Tom Mboya University?................                                 0
University  of Nairobi                                                0
University Constituent Colleges1                                      0
University of Eldoret                                                 0

                                                    2020/21 Male Students  \
Public Universities
* Provisional                                                           1
.. Data not available                                                   1
1 Includes Alupe, Turkana, Bomet, Koitalel Arap...                      1
Chuka                                                                   0
Co-operative                                                            0
Dedan Kimathi                                                           0
Egerton                                                                 0
Embu                                                                    0
GRAND TOTAL                                                             0
Garissa                                                                 0
Jaramogi Oginga Odinga                                                  0
Jomo Kenyatta (JKUAT)                                                   0
Kabianga                                                                0
Kaimosi Friends University?.......                                      0
Karatina                                                                0
Kenyatta                                                                0
Kibabii                                                                 0
Kirinyaga                                                               0
Kisii                                                                   0
Laikipia                                                                0
Machakos                                                                0
Masai Mara                                                              0
Maseno                                                                  0
Masinde Muliro                                                          0
Meru                                                                    0
Moi                                                                     0
Multimedia                                                              0
Murang?a                                                                0
Private Universities                                                    0
Pwani                                                                   0
Rongo                                                                   0
SUB-TOTAL                                                               0
Source: Universities Fund                                               1
South Eastern                                                           0
Taita Taveta                                                            0
Technical University of Kenya                                           0
Technical University of Mombasa                                         0
Tharaka University?...........                                          0
Tom Mboya University?................                                   0
University  of Nairobi                                                  0
University Constituent Colleges1                                        0
University of Eldoret                                                   0

                                                    2020/21 Female Students  \
Public Universities
* Provisional                                                             1
.. Data not available                                                     1
1 Includes Alupe, Turkana, Bomet, Koitalel Arap...                        1
Chuka                                                                     0
Co-operative                                                              0
Dedan Kimathi                                                             0
Egerton                                                                   0
Embu                                                                      0
GRAND TOTAL                                                               0
Garissa                                                                   0
Jaramogi Oginga Odinga                                                    0
Jomo Kenyatta (JKUAT)                                                     0
Kabianga                                                                  0
Kaimosi Friends University?.......                                        0
Karatina                                                                  0
Kenyatta                                                                  0
Kibabii                                                                   0
Kirinyaga                                                                 0
Kisii                                                                     0
Laikipia                                                                  0
Machakos                                                                  0
Masai Mara                                                                0
Maseno                                                                    0
Masinde Muliro                                                            0
Meru                                                                      0
Moi                                                                       0
Multimedia                                                                0
Murang?a                                                                  0
Private Universities                                                      0
Pwani                                                                     0
Rongo                                                                     0
SUB-TOTAL                                                                 0
Source: Universities Fund                                                 1
South Eastern                                                             0
Taita Taveta                                                              0
Technical University of Kenya                                             0
Technical University of Mombasa                                           0
Tharaka University?...........                                            0
Tom Mboya University?................                                     0
University  of Nairobi                                                    0
University Constituent Colleges1                                          0
University of Eldoret                                                     0

                                                    2020/21 Total Students  \
Public Universities
* Provisional                                                            1
.. Data not available                                                    1
1 Includes Alupe, Turkana, Bomet, Koitalel Arap...                       1
Chuka                                                                    0
Co-operative                                                             0
Dedan Kimathi                                                            0
Egerton                                                                  0
Embu                                                                     0
GRAND TOTAL                                                              0
Garissa                                                                  0
Jaramogi Oginga Odinga                                                   0
Jomo Kenyatta (JKUAT)                                                    0
Kabianga                                                                 0
Kaimosi Friends University?.......                                       0
Karatina                                                                 0
Kenyatta                                                                 0
Kibabii                                                                  0
Kirinyaga                                                                0
Kisii                                                                    0
Laikipia                                                                 0
Machakos                                                                 0
Masai Mara                                                               0
Maseno                                                                   0
Masinde Muliro                                                           0
Meru                                                                     0
Moi                                                                      0
Multimedia                                                               0
Murang?a                                                                 0
Private Universities                                                     0
Pwani                                                                    0
Rongo                                                                    0
SUB-TOTAL                                                                0
Source: Universities Fund                                                1
South Eastern                                                            0
Taita Taveta                                                             0
Technical University of Kenya                                            0
Technical University of Mombasa                                          0
Tharaka University?...........                                           0
Tom Mboya University?................                                    0
University  of Nairobi                                                   0
University Constituent Colleges1                                         0
University of Eldoret                                                    0

                                                    2020/21 Amount of Funds Allocated (KSh Million)  \
Public Universities
* Provisional                                                                                     1
.. Data not available                                                                             1
1 Includes Alupe, Turkana, Bomet, Koitalel Arap...                                                1
Chuka                                                                                             0
Co-operative                                                                                      0
Dedan Kimathi                                                                                     0
Egerton                                                                                           0
Embu                                                                                              0
GRAND TOTAL                                                                                       0
Garissa                                                                                           0
Jaramogi Oginga Odinga                                                                            0
Jomo Kenyatta (JKUAT)                                                                             0
Kabianga                                                                                          0
Kaimosi Friends University?.......                                                                0
Karatina                                                                                          0
Kenyatta                                                                                          0
Kibabii                                                                                           0
Kirinyaga                                                                                         0
Kisii                                                                                             0
Laikipia                                                                                          0
Machakos                                                                                          0
Masai Mara                                                                                        0
Maseno                                                                                            0
Masinde Muliro                                                                                    0
Meru                                                                                              0
Moi                                                                                               0
Multimedia                                                                                        0
Murang?a                                                                                          0
Private Universities                                                                              0
Pwani                                                                                             0
Rongo                                                                                             0
SUB-TOTAL                                                                                         0
Source: Universities Fund                                                                         1
South Eastern                                                                                     0
Taita Taveta                                                                                      0
Technical University of Kenya                                                                     0
Technical University of Mombasa                                                                   0
Tharaka University?...........                                                                    0
Tom Mboya University?................                                                             0
University  of Nairobi                                                                            0
University Constituent Colleges1                                                                  0
University of Eldoret                                                                             0

                                                    2021/22 Male Students  \
Public Universities
* Provisional                                                           1
.. Data not available                                                   1
1 Includes Alupe, Turkana, Bomet, Koitalel Arap...                      1
Chuka                                                                   0
Co-operative                                                            0
Dedan Kimathi                                                           0
Egerton                                                                 0
Embu                                                                    0
GRAND TOTAL                                                             0
Garissa                                                                 0
Jaramogi Oginga Odinga                                                  0
Jomo Kenyatta (JKUAT)                                                   0
Kabianga                                                                0
Kaimosi Friends University?.......                                      0
Karatina                                                                0
Kenyatta                                                                0
Kibabii                                                                 0
Kirinyaga                                                               0
Kisii                                                                   0
Laikipia                                                                0
Machakos                                                                0
Masai Mara                                                              0
Maseno                                                                  0
Masinde Muliro                                                          0
Meru                                                                    0
Moi                                                                     0
Multimedia                                                              0
Murang?a                                                                0
Private Universities                                                    0
Pwani                                                                   0
Rongo                                                                   0
SUB-TOTAL                                                               0
Source: Universities Fund                                               1
South Eastern                                                           0
Taita Taveta                                                            0
Technical University of Kenya                                           0

In [13]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 4 to 45
Data columns (total 13 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Public Universities                              42 non-null     object
 1   2020/21 Male Students                            38 non-null     object
 2   2020/21 Female Students                          38 non-null     object
 3   2020/21 Total Students                           38 non-null     object
 4   2020/21 Amount of Funds Allocated (KSh Million)  38 non-null     object
 5   2021/22 Male Students                            38 non-null     object
 6   2021/22 Female Students                          38 non-null     object
 7   2021/22 Total Students                           38 non-null     object
 8   2021/22 Amount of Funds Allocated (KSh Million)  38 non-null     object
 9   2022/23 Male Students                            38 non-null     object
 10  2022/23 Female Students                          38 non-null     object
 11  2022/23 Total Students                           38 non-null     object
 12  2022/23 Amount of Funds Allocated (KSh Million)  38 non-null     object
dtypes: object(13)
memory usage: 4.4+ KB

In [14]:
data1.dtypes.value_counts()

object    13
dtype: int64

In [15]:
data1.columns

Index(['Public Universities', '2020/21 Male Students',
       '2020/21 Female Students', '2020/21 Total Students',
       '2020/21 Amount of Funds Allocated (KSh Million)',
       '2021/22 Male Students', '2021/22 Female Students',
       '2021/22 Total Students',
       '2021/22 Amount of Funds Allocated (KSh Million)',
       '2022/23 Male Students', '2022/23 Female Students',
       '2022/23 Total Students',
       '2022/23 Amount of Funds Allocated (KSh Million)'],
      dtype='object')

In [30]:
data1.fillna(0,inplace=True)

C:\Users\TERESI~1\AppData\Local\Temp/ipykernel_12656/4122726797.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1.fillna(0,inplace=True)

In [31]:
data1.isnull().sum()

Public Universities                                0
2020/21 Male Students                              0
2020/21 Female Students                            0
2020/21 Total Students                             0
2020/21 Amount of Funds Allocated (KSh Million)    0
2021/22 Male Students                              0
2021/22 Female Students                            0
2021/22 Total Students                             0
2021/22 Amount of Funds Allocated (KSh Million)    0
2022/23 Male Students                              0
2022/23 Female Students                            0
2022/23 Total Students                             0
2022/23 Amount of Funds Allocated (KSh Million)    0
dtype: int64

In [32]:
data1.reset_index(drop=True, inplace=True)

In [33]:
data1

,Public Universities,2020/21 Male Students,2020/21 Female Students,2020/21 Total Students,2020/21 Amount of Funds Allocated (KSh Million),2021/22 Male Students,2021/22 Female Students,2021/22 Total Students,2021/22 Amount of Funds Allocated (KSh Million),2022/23 Male Students,2022/23 Female Students,2022/23 Total Students,2022/23 Amount of Funds Allocated (KSh Million)
0,University of Nairobi,"11,106","16,076","27,182","5,231.81","19,210","13,221","32,431","5,588.03","10,743","15,873","26,616",5610.97
1,Kenyatta,..,..,"33,341","3,160.14",..,..,"32,162","3,360.80",..,..,"30,303",3374.60
2,Moi,"8,957","9,840","18,797","3,244.03",..,..,"23,809","3,424.22","7,276","9,875","22,704",3438.28
3,Egerton,"6,642","9,572","16,214","2,102.13","10,677","7,373","18,050","2,219.25","7,527","10,396","17,923",2228.36
4,Jomo Kenyatta (JKUAT),"8,334","10,424","18,758","2,835.11","14,070","11,260","25,340","2,996.81","10,714","13,990","24,704",3009.12
5,Maseno,"5,576","7,937","13,513","1,622.93","9,230","6,927","16,157","1,698.16","8,062","10,729","18,791",1750.13
6,Masinde Muliro,"4,781","7,892","12,673","1,695.39","5,974","3,671","9,645","1,755.53","4,844","7,744","12,588",1762.74
7,Technical University of Kenya,"2,410","6,708","9,118","1,886.46","7,751","3,005","10,756","1,980.75","3,218","7,571","10,789",1988.88
8,Technical University of Mombasa,"2,041","5,888","7,929",924.04,"6,896","2,397","9,293",958.41,"2,783","7,857","10,640",962.35
9,Dedan Kimathi,"2,075","4,181","6,256",892.58,"2,355","5,156","7,521",922.32,"2,505","5,486","7,991",926.10
10,Chuka,"4,387","7,103","11,490","1,296.78","9,334","6,259","15,593","1,328.40","6,116","9,820","15,936",1333.85
11,Karatina,"2,398","3,150","5,548",723.10,"3,129","2,382","5,511",747.53,"2,564","3,439","6,003",750.60
12,Kisii,"3,508","5,836","9,344","1,116.40",..,..,"12,118","1,179.04","4,310","6,915","16,126",1183.88
13,Meru,"1,674","3,259","4,933",693.97,"4,122","2,112","6,234",715.84,"2,769","5,511","8,280",738.78
14,Multimedia,"1,760","3,468","5,228",591.96,"4,412","2,279","6,691",617.02,"2,118","4,129","6,247",619.56
15,South Eastern,"2,307","3,831","6,138",911.12,"3,831","2,307","6,138",936.51,"2,855","5,043","7,898",940.36
16,Jaramogi Oginga Odinga,"1,895","3,681","5,576",985.69,"3,680","1,858","5,538","1,027.76","2,679","4,921","7,600",1071.98
17,Laikipia,"2,349","2,655","5,004",865.23,"3,678","3,259","6,937",891.04,"2,454","2,899","5,353",894.70
18,University of Eldoret,"4,242","5,180","9,422","1,891.50","5,180","4,242","9,422","1,965.43","4,270","5,611","9,881",1973.50
19,Kabianga,"2,299","2,652","4,951",781.73,"4,844","3,107","7,951",811.02,"3,163","4,094","7,257",814.34
20,Pwani,"2,474","3,692","6,166",749.45,"3,764","2,509","6,273",780.90,"3,165","4,581","7,746",784.11
21,Masai Mara,"3,457","3,934","7,391","1,014.42",..,..,"7,709","1,051.02","3,681","4,319","8,000",1055.34
22,Kibabii,"1,509","2,576","4,085",627.05,"3,261","2,025","5,286",649.56,"1,865","2,974","4,839",652.23
23,Embu,"2,138","3,385","5,523",600.23,"4,735","3,110","7,845",626.18,"3,170","5,026","8,196",628.75
24,Machakos,"2,564","4,016","6,580",967.73,..,..,"8,652",995.44,"3,426","5,429","8,855",999.53
25,Murang?a,"1,430","3,632","5,062",498.75,..,..,"7,655",513.56,"2,333","5,280","7,613",515.67
26,Rongo,"1,602","2,410","4,012",551.93,"3,120","1,948","5,068",576.35,"2,163","3,282","5,445",628.72
27,Kirinyaga,"1,593","3,123","4,716",346.58,"5,402","2,709","8,111",358.63,"3,097","6,757","9,854",360.11
28,Co-operative,"1,405","1,511","2,916",265.48,"1,712","1,533","3,245",281.90,"2,001","2,494","4,495",283.06
29,Taita Taveta,838,"1,921","2,759",392.31,"1,921",838,"2,759",404.46,768,"1,950","2,718",406.12
30,Garissa,217,490,707,408.75,..,..,694,417.37,473,953,"1,426",469.09
31,Kaimosi Friends University?.......,..,..,..,..,..,..,..,..,"1,218","1,555","2,773",456.36
32,Tharaka University?...........,..,..,..,..,..,..,..,..,977,"1,510","2,487",284.53
33,Tom Mboya University?................,..,..,..,..,..,..,..,..,"1,448","2,407","3,855",389.14
34,University Constituent Colleges1,"2,122","2,958","5,080","2,032.66","3,051","2,338","7,939","2,064.70","1,908","2,091","4,227",998.16
35,SUB-TOTAL,"100,090","152,981","286,580","41,907.42","145,339","97,825","338,533","43,843.96","122,663","192,511","356,159","44,283.97"
36,Private Universities,..,..,..,..,..,..,..,..,..,..,..,..
37,GRAND TOTAL,"100,090","152,981","286,580","41,907.42","145,339","97,825","338,533","43,843.96","122,663","192,511","356,159","44,283.97"
38,Source: Universities Fund,0,0,0,0,0,0,0,0,0,0,0,0
39,* Provisional,0,0,0,0,0,0,0,0,0,0,0,0
40,.. Data not available,0,0,0,0,0,0,0,0,0,0,0,0
41,"1 Includes Alupe, Turkana, Bomet, Koitalel Ara...",0,0,0,0,0,0,0,0,0,0,0,0

# DATA EXPLORATION

In [21]:
import matplotlib.pyplot as plt

In [36]:
years = ['2020/21', '2021/22', '2022/23']
amount_columns = [f'{year} Amount of Funds Allocated (KSh Million)' for year in years]
data_to_plot = data1[['Academic Year'] + amount_columns]

# Plot the trends in the amount offered over the three academic years
data_to_plot.set_index('Academic Year', y=amount_columns, kind='line' inplace=True)
plt.title('Trends in Amount Offered')
plt.xlabel('Academic Year')
plt.ylabel('Amount of Funds Allocated (KSh Million)')
plt.legend(years)
plt.show()

SyntaxError: invalid syntax (Temp/ipykernel_12656/1102701091.py, line 6)